import pandas liberary

In [10]:
import pandas as pd
rdata = pd.read_csv('rdata.csv')

In [5]:
rdata.head()

   attrition  performance_rating  sales_quota_pct recruiting_source
0   0.000707            2.976686         0.604739    Applied Online
1  -0.019452            2.989157         0.396567               NaN
2  -0.009998            2.993355         0.206242    Applied Online
3  -0.003004            1.989966        -0.475037               NaN
4  -0.025405            3.016559         0.345470            Campus

### Calculating the average Sales Numbers and Attrition Numbers grouped by 'recruiting_source'

In [9]:
# Grouping by 'recruiting_source' to get average sales_quota_pct and attrition
average_sales_attrition = rdata.groupby('recruiting_source').agg({
    'sales_quota_pct': 'mean',
    'attrition': 'mean'
}).reset_index()

# Displaying the results to check the average Sales and Attrition numbers
average_sales_attrition

  recruiting_source  sales_quota_pct  attrition
0    Applied Online         1.080959   0.213370
1            Campus         1.076408   0.215109
2          Referral         1.075538   0.214920
3       Search Firm         1.103426   0.208177

In [ ]:
We are looking for sources that have high Sales numbers and low Attrition numbers so Search Firm